{% extends 'sidenavadmin.html'%} 
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add contacts Details</title>

</head>
<body>

    <div class="col-md-8">
        <form class="m-5" id="edit" action="addcontact" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <h2>Add Contact Details</h2> <!--for contact page-->

            <div class="mb-3">
                    <label>Address</label>
                <div class="form-group">
                    <textarea name="addrs" placeholder="Address" class="form-control"></textarea>
                </div>

                <label>Email id of college</label>
                <div class="form-group">
                    <input type="email" name="mail" class="form-control" placeholder="mail id">
                </div>

                <label><b>Contact Numbers</b></label>
                <div class="form-group">
                    <input type="text" name="office" class="form-control" placeholder="Office Number">
                </div>

                <label></label>
                <div class="form-group">
                    <input type="text" name="director" class="form-control" placeholder="Directors Number">
                </div>
            </div>
            {{mesg}}
            <div class="mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </div>
    </form>
</div>
{% endblock %} 
    
</body>
</html>