
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        h1{
            background-color: turquoise;
        }
        .admin{
            border:6px solid skyblue;
            border-radius: 25px;
           background-color:rgb(218, 181, 218);
        }
    </style>
</head>
<body>
    <h1>ADMIN MASTER PAGE</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="admin p-5 mt-5">
                <h3 style="color: red;"><a href="images" >VIEW GALLERY</a></h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="admin p-5 mt-5">
                <h3 style="color: green;"><a href="">ADD IMAGE</a></h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="admin p-5 mt-5">
                <h3 style="color: indigo;">EDIT CONTACT</h3>
            </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="admin p-5 mt-5">
                <h3 style="color:darkmagenta;"> VIEW COURSES</h3>
            </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="admin p-5 mt-5">
                <h3 style="color: maroon;"> <a href="requests">VIEW STUDENTS</a></h3>
            </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="admin p-5 mt-5">
                <h3 style="color:orangered ;">EDIT FEATURES</h3>
            </div>
        </div>    
    </div>
</div>

    {% endblock %}
</body>
</html>