{% extends 'SWindex.html' %}
 {%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bsw syllabus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <style>
    .msw{
        text-align: center;
        color: red;
        border: solid 10px skyblue;
        border-radius: 25px;
        font-size: 55px;
        width:500px;
        margin:auto;
    }
    body{
        background-image:linear-gradient(white, skyblue);
    }
</style>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row"> 
            <b class="msw" style="background-color:lightgray;">BSW</b>
           
        </div>  
    </div>          
     <div class="container-fluid">
        <div class="row"> 
                    <h2>Semester 1:</h2>
                    <ol>
                        <li>
                            A01 Common Course English I
                        </li>
                        <li>
                            A02 Common Course English II
                        </li>
                        <li>
                            A07(1)Additional Language Course I
                        </li>
                        <li>
                            A07(1)Additional Language Course I
                        </li>
                        <li>
                            Complementary I Course I
                        </li>
                        <li>
                            AUD1 E01**Environment Studies
                        </li>
                    </ol>  
                 </div>  
         </div>  
         
         <div class="container-fluid">
            <div class="row"> 
                        <h2>Semester 2:</h2>
                        <ol>
                            <li>
                                A 03 Common CourseEnglish III
                            </li>
                            <li>
                                A 04 Common Course English IV
                            </li>
                            <li>
                                A08(1) Additional Language Course II
                            </li>
                            <li>
                                BSW 2 B 02Fields of Social Work
                            </li>
                            <li>
                                Complementary II  Course I
                            </li>
                            <li>
                                AUD2 E02**Disaster Management
                            </li>
                        </ol>  
                     </div>  
             </div>       
             <div class="container-fluid">
                <div class="row"> 
                            <h2>Semester 3:</h2>
                            <ol>
                                <li>
                                    A 05 Common CourseEnglish V
                                </li>
                                <li>
                                    A 09 Additional Language Course III
                                </li>
                                <li>
                                    BSW 3 B 03 Introduction to Social Case work
                                </li>
                                <li>
                                    BSW 3 B 04 Introduction to Social Group Work
                                </li>
                                <li>
                                    Complementary II Course II
                                </li>
                                <li>
                                    AUD3 E03** Human Rights/Intellectual Property Rights/ Consumer Protection
                                        (College can choose any one)
                                </li>
                            </ol>  
                         </div>  
                 </div>  
                 <div class="container-fluid">
                    <div class="row"> 
                                <h2>Semester 4:</h2>
                                <ol>
                                    <li>
                                        A 06 Common English Course VI
                                    </li>
                                    <li>
                                        A 10 Additional Language Course IV
                                    </li>
                                    <li>
                                        BSW 4 B 05 Introduction to Community Organisation and Social Action
                                    </li>
                                    <li>
                                        BSW 4 B 06 Field work –Community (P)
                                    </li>
                                    <li>
                                        Complementary I Course II
                                    </li>
                                    <li>
                                        AUD4 E04**Gender Studies/Gerontology
                                            (College can choose any one)
                                    </li>
                                </ol>  
                             </div>  
                     </div>       
                     <div class="container-fluid">
                        <div class="row"> 
                                    <h2>Semester 5:</h2>
                                    <ol>
                                        <li>
                                            BSW 5 B 07: Introduction to Social Work Administration
                                        </li>
                                        <li>
                                            BSW 5 B 08: Rural and Urban Community Development
                                        </li>
                                        <li>
                                            BSW 5 B 09 : Introduction to Social Work Research and Statistics
                                        </li>
                                        <li>
                                            BSW 5 B 10 :Gandhian  Philosophy and Social Work
                                        </li>
                                        <li>
                                            Open Course : To be selected from any other departments
                                        </li>
                                        <li>
                                            Project
                                        </li>
                                    </ol>  
                                 </div>  
                         </div>
                         <div class="container-fluid">
                         <div class="row"> 
                                    <h2>Semester 6:</h2>
                                    <ol>
                                        <li>
                                            BSW 6 B11  Project Planningand Management for SocialWork
                                        </li>
                                        <li>
                                            BSW 6 B 12 Legal Information for Social Workers
                                        </li>
                                        <li>
                                            BSW 6 B 13 Community Health and Health Care Services
                                        </li>
                                        <li>
                                            BSW 6 B 14 Fieldwork (Agency Based Concurrent Fieldwork 20 days)
                                        </li>
                                        <li>
                                            Elective Courses :  <br>
                                            BSW 6 B 16Gendervand Development in SocialWork<br>
                                            BSW 6 B 17 Social Movements and Social Development<br>
                                            BSW 6 B 18 Social Work with elderly
                                        </li>
                                        <li>
                                            BSW 6 B 15 Project
                                        </li>
                                    </ol>  
                                 </div>  
                         </div>  
     {% endblock %}                                       
</body>
</html>