{% extends 'index.html'%} 
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!--cdn of jquery-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>
<style>
    .address{
     border: 3px solid grey;
     margin: 25px;
     background: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.5));
        /* Black see-through */
        color: #f1f1f1; 
     height: 280px;     
     border-radius:30%;  
     text-align: center; 
}
body{
    background-image: linear-gradient( white,skyblue);
    
}
</style>
<body onload="displaycontact()">
   
  
    <center><h1>CONTACT US</h1></center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 address">
                <h2 class="m-5">Address:</h2>
                <h5 id="tadrs"></h5>
                    <h5>Kozhikode - 673586 Kerala, India</h5>
            </div>
            <div class="col-lg-3 address">
                <h2 class="m-5">Email:</h2>
                <h4  id="tmail"></h4>
            </div>
            <div class="col-lg-3 address">
                <h2 class="m-5">Phone Number:</h2>  
               
                    <h5>Fax : 0091-495-2 233 174</h5>
                    <h5 id="tfirst">Office Mobile :</h5>
                    <h5 id="tsec">Director :</h5>
            </div>
        </div>
        <!--editing button for admin-->
        {% if 'aid' in request.session %}
        <button type="button" class="btn btn-success btn-lg">
            <a href="" class="p-3" style="color:white;"data-toggle="modal" data-target="#example">
            Edit</a></button>
        {% endif %}
            <!--End of editing-->

            <!--editing-->
<div class="modal fade" id="example">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Contact Details</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form method="POST" action="editcontact" enctype="multipart/form-data">
                {% csrf_token %}
                
            <div class="modal-body">
                <div class="form-group">
                    <label>Change Address</label>
                    <textarea name="addrs" id="addrs" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Change Email</label>
                    <input type="email" name="mail" id="mail" class="form-control">
                </div>
                <div class="form-group">
                    
                    <label>Office Number</label>
                    <input type="number" name="num1" id="num1" class="form-control"><br>

                    <label>Dirctors Number</label>
                    <input type="number" name="num2" id="num2" class="form-control" >
                </div>
                <br>
                    <button type="button"  class="btn btn-info" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary ml-5">Save</button>
                </div>   
            </form><br>
        </div>
            </div>
        </div>

            <!--doubts can ask by student-->
        <form  action="contact" method="POST">
            {% csrf_token %}
            <h2>Get In Touch</h2>
            <h5>Have some suggestions or just want to say hi? Our support team are ready to help you 24/7.</h5>

            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" class="form-control my-5" required>
            </div>
            <div class="form-group">
                <input type="email" id="mail" name="mail" placeholder="Email" class="form-control my-5" required>
            </div>
            <div class="form-group">
                <input type="number" id="num" name="num" placeholder="Phone Number" class="form-control my-5" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="msg" name="msg" placeholder="Message" required></textarea>
            </div>
                <button type="submit" name="submitt" class="btn btn-primary mx-5">Send message</button> 
            
        </form>   
    </div>
    {{msg}}
    <br><br><br>

    <script>
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        function displaycontact(){
            $.ajax({
                url:'showcontact',
                type:'GET',
                success:function(response){
                    for(i=0;i<=response.mydata.length;i++){
                        $('#tadrs').append('<input style="display:none" id="one" value="'+response.mydata[i].info+'">'+response.mydata[i].info+'</input>')
                        $('#tmail').append('<input style="display:none" id="two"value="'+response.mydata[i].cmail+'">'+response.mydata[i].cmail+'</input>')
                        $('#tfirst').append('<input style="display:none" id="three" value="'+response.mydata[i].ofice+'">'+response.mydata[i].ofice+'</input>')
                        $('#tsec').append('<input style="display:none" id="four" value="'+response.mydata[i].direct+'">'+response.mydata[i].direct+'</input>')

                        $('#addrs').val(document.getElementById('one').value)
                        $('#mail').val(document.getElementById('two').value)
                        $('#num1').val(document.getElementById('three').value)
                        $('#num2').val(document.getElementById('four').value)
                    }
                }
            })
        }
    </script>

    {% endblock %}
</body>
</html>