{% extends 'CSindex.html' %}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSC CS Syllabus</title>
    <style>

    .syllabus{
    background-image:url("{% static 'Images/cs1.jpg' %}");
        }
i{
    font-size: 50px;
    color: tomato;
    font: weight=450px;
}
body{
    background-image: linear-gradient(white,aquamarine);
}
    </style>
    
</head>
<body>
    

    <div class="syllabus" style="width:100%; height:300px;text-align: center;">
       
            <i>BSC . CS SYLLABUS</i>
    </div> 
    <div style="text-align: right; font-size:30px;">No.of Seats:25</div>
    <div class="col-lg-6 col-md-8 col-sm-8 m-5">
        <div class="container-fluid">
            <div class="row"> 
                    <h2>Semester 1:</h2>
                    <ol>
                        <li>
                            Common English 1
                        </li>
                        <li>
                            Common English 2
                        </li>
                        <li>
                            Languages other than English
                        </li>
                        <li>
                            Computer Fundamentals & HTML
                        </li>
                        <li>
                            Complementary Mathematics I
                        </li>
                        <li>
                            Optional Complementary I
                        </li>
                    </ol>
            </div>
        </div>
         <div class="container-fluid">
            <div class="row"> 
                    <h2>Semester 2:</h2>
                    <ol>
                        <li>
                            Common English 3
                        </li>
                        <li>
                            Common English 4
                        </li>
                        <li>
                            Literature in Languages other than English
                        </li>
                        <li>
                            Problem Solving using C
                        </li>
                        <li>
                            Programming Laboratory I: HTML and Programming in C
                        </li>
                        <li>
                            Complementary Mathematics II
                        </li>
                        <li>
                            Optional Complementary II
                        </li>
                    </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row"> 
                    <h2>Semester 3:</h2>
                    <ol>
                        <li>
                            Python Programming
                        </li>
                        <li>
                            Sensors and Transducers
                        </li>
                        <li>
                            Data Structures using C
                        </li>
                        <li>
                            Complementary Mathematics III
                        </li>
                        <li>
                            Optional Complementary III
                        </li>
                    </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row"> 
                    <h2>Semester 4:</h2>
                    <ol>
                        <li>
                            Data Communication and Optical Fibers
                        </li>
                        <li>
                            Microprocessors-Architecture and Programming
                        </li>
                        <li>
                            Database Management System and RDBMS
                        </li>
                        <li>
                            Programming Laboratory II:Data Structures and RDBMS
                        </li>
                        <li>
                            Complementary Mathematics IV
                        </li>
                        <li>
                            Optional Complementary IV
                        </li>
                    </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row"> 
                    <h2>Semester 5:</h2>
                    <ol>
                        <li>
                            Computer Organization and Architecture
                        </li>
                        <li>
                            Java Programming
                        </li>
                        <li>
                            Web Programming Using PHP
                        </li>
                        <li>
                            Principles of Software Engineering
                        </li>
                        <li>
                            Open Course
                        </li>
                        <li>
                            Industrial Visit
                        </li>
                        <li>
                            Project Work
                        </li>
                        
                            <b>List of Open Courses</b>
                            <ul>
                                <li>Introduction to Computers and Office Automation</li>
                                <li>Web Designing</li>
                                <li>Introduction to Problem Solving and C Programming</li>
                                <li>
                                    Introduction to Data Analysis using spread sheet</li>
                            </ul>
                        
                    </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row"> 
                    <h2>Semester 6:</h2>
                    <ol>
                        <li>
                            Android Programming
                        </li>
                        <li>
                            Operating Systems
                        </li>
                        <li>
                            Computer Networks
                        </li>
                        <li>
                            Programming Laboratory III: Java and PHP Programming
                        </li>
                        <li>
                            Programming Laboratory IV: Android and Linux shell Programming
                        </li>
                        <li>
                            Elective Course
                        </li>
                        <li>
                            Industrial Visit & Project Work (Industrial Visit- 1 Credit, Project Work- 2 Credit)
                        </li>
                        
                           <b> List of Electives: </b>
                        
                            <ul>
                                <li>
                                    System Software
                                </li>
                                <li>
                                    Machine Learning
                                </li>
                                <li>
                                    Computer Graphics
                                </li>
                                <li>
                                    Technical Writing
                                </li>
                                <li>
                                    Fundamentals of Life Skill Education
                                </li>
                            </ul>
                    </ol>
            </div>
        </div>

    </div>  
        
    {% endblock %}
</body>
</body>
</html>