<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details of student</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
   
    <table class="table table-striped">
    <center><h1>Details</h1></center>

    <tr>
      <th>Application For</th>
      <td>{{studentprofile.usertype}}</td>
      <td></td>
   </tr>
        <tr>
            <th>Email</th>
            <td>{{studentprofile.email}}</td>
            <td></td>
        </tr>
        <tr>
           <th>Candidate name</th>
        <td>{{studentprofile.candidatename}}</td>
        <td></td>
        </tr>
        <tr>
           <th>Parent name</th>
        <td>{{studentprofile.parentname}}</td>
        <td></td>
        </tr>
        <tr>
            <th>Mobile number</th>
        <td>{{studentprofile.phonenumber}}</td>
        <td></td>
        </tr>
        <tr>
           <th>Category</th>
        <td>{{studentprofile.category}}</td>
        <td></td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{studentprofile.application}}</td>
            <td></td>
      </tr>
        <tr>
            <th>SSLC Percentage</th>
            <td>{{studentprofile.sslcmark}}</td>
            <td></td>
         </tr>
         <tr>
            <th>Plus2 Percentage</th>
            <td>{{studentprofile.plus2mark}}</td>
            <td></td>
         </tr>
         <tr>
            <th>Degree Percentage</th>
            <td>{{studentprofile.ugmark}}</td>
            <td></td>
         </tr>
         <tr>
            <th>SSLC</th>
         <td>{{studentprofile.sslc}}</td>
         <td><a class="btn btn-info" href="{%url 'viewfile' studentprofile.id %}"> View </a></td>
         
         </tr>
         <tr>
            <th>Plus 2</th>
         <td>{{studentprofile.plus2}}</td>
         <td><a class="btn btn-info" href="{%url 'plustwo' studentprofile.id %}"> View </a></td>
         </tr>
         <tr>
            <th>Degree</th>
         <td>{{studentprofile.degree}}</td>
         <td><a class="btn btn-info" href="{%url 'degree' studentprofile.id %}">View </a></td>
         </tr>
         <tr>
            <th>Additional Qualification</th>
         <td>{{studentprofile.qualification}}</td>
         <td></td>
         </tr>
         
    </table>
    <div class="m-5 float-right">{{msg}}
       <a href="{%url 'apgmail' studentprofile.id %}" class="btn btn-success ">Accept</a>  <!--if accept or reject means msgs need to sent to student-->
       <a href="{%url 'rpgmail' studentprofile.id %}" class="btn btn-danger ml-5">Reject</a>
    </div>
</body>
</html>