{% extends 'index.html'%}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcomepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
<style>
    body{
        background-image: linear-gradient(white,skyblue);
    }
</style>
</head>
<body>
    
    
      <h2 style="color: brown; text-align: center;"> JOURNEY TO EXCELLENCE</h2>
      <div class="container-fluid">
          <div class="row">
              <div style="width:320px; margin: 10px;">
                <img src="{% static 'Images/degree.jpg' %}" width="300px" height="300px">
              </div>
              <div  style="width:320px; margin:10px;">
                <img src="{% static 'Images/stthomas.jpg' %}" width="300px" height="300px">
            </div>
              <div  style="width:320px ;margin:10px;">
                <img src="{% static 'Images/branchflwr.jpg' %}" width="300px" height="300px">
              </div>
              <div  style="width:320px ;margin:10px;">
                <img src="{% static 'Images/group.jpg' %}" width="300px" height="300px">
              </div>
              <div  style="width:320px ;margin:10px;">
                <img src="{% static 'Images/college.jpg' %}" width="300px" height="300px">
              </div>
              <div  style="width:320px; margin:10px;">
                <img src="{% static 'Images/cmpter.jpg' %}" width="300px" height="300px">
              </div>
              <div  style="width:320px; margin:10px;">
                <img src="{% static 'Images/green.jpg' %}" width="300px" height="300px">
              </div>
              <div  style="width:320px; margin:10px;">
                <img src="{% static 'Images/colgflwr.jpg' %}" width="300px" height="300px">
              </div>
              <!--image adding by admin-->
              {% for itm in mesg %}
              <div  style="width:320px; margin:10px;">
                <img src="{{itm.images.url}}" width="300px" height="300px">
              </div>
              {% endfor %}
          </div>
      </div><br>

      <!--Adding images by admin-->
      {% if 'aid' in request.session %}
      <form action="images" method="POSt" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row">
          <h3 class="ml-5">Add images</h3>

          <input type="file" name="img" class="form-control ml-5" style="width: 500px;">
          <button class="btn btn-primary ml-5" type="submit">Save</button>
          {{messg}}
          <a href="addedimage" class="btn btn-info ml-5">Added Images</a><!--list of images and delete option-->
        </div>

      </form> <br>
      {% endif %}
      {% endblock %}
      </body>
      </html>