{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcomepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
<style>
    .heading{
    background-image: linear-gradient( white, aquamarine);
    font-size: 60px;
    }
    .myfoot{
        background: white;
        background: rgba(0, 0, 0, 0.5); 
    }
    .footer{
        position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
    }
</style>
</head>
<body>
    
   <h1 class="heading"><center>St.Thomas College</center></h1>

   <nav class="navbar navbar-expand-lg bg-dark navbar-dark">    <!--creating topnavbar-->
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">About Us</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="about">About</a>
                        <a class="dropdown-item" href="achevments">Achevments</a>
                        <a class="dropdown-item" href="#">Activity</a>
                        <a class="dropdown-item" href="milestones">Milestones</a>
                    </div>
                </li> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown">Departments</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="socialwork">Social Work</a>
                        <a class="dropdown-item" href="computerscience">Computer Science</a>
                        <a class="dropdown-item" href="english">English</a>
                        <a class="dropdown-item" href="psychology">Psychology</a>

                    </div>
                </li>  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Academics</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="ugacademic">UG Courses</a>
                        <a class="dropdown-item" href="pgacademic">PG Courses</a>
                    </div>
                </li>  
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Features</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="library">Library</a>
                        <a class="dropdown-item" href="hostel">Hostel</a>
                        <a class="dropdown-item" href="computerlab">Computer Lab</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="img">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admission">Admission</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">More</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item bg-info" href="studlogin">Student Login</a>
                        <a class="dropdown-item bg-success" href="login">Admin Login</a>
                    </div>
                </li>
            </ul>
        </div>
        {% if 'sid' in request.session %}
        <a href="studentwelcome" class="btn btn-info ml-auto mr-5" >Your Details</a>
        {% endif %}

        {% if 'aid' in request.session %}
        <a href="admin" class="btn btn-info ml-auto mr-5" >Admin Page</a>
        {% endif %}
       
        <!--login button for admin-->
    </nav>
      {% block content%}
       {% endblock  %} 
       <br>
       <!--footers-->
       <div class="container-fluid  mt-5">
           <footer class="footer p-4 myfoot" style="position: fixed;">
                <b style="color: whitesmoke;">Email ID:thomas@gmail.com</b>
            </footer>
       </div>
       
</body>
</html>