{% extends 'Pindex.html' %}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Msc Psychology</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        .pic{
    background-image: url("{% static 'Images/psy4.jpg' %}");
    background-size: cover;
    }
    p{
    word-spacing: 10px;
    font-size: 20px;
    text-indent: 75px;
    color: white;
}
.text{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: auto;
  bottom: 0;
}

.library{
    font-size:100px;
    text-align: center;
}
    </style>
</head>
<body>
    <div class="pic ">
        <h1 class="library"><i style="color: white;">MSC PSYCHOLOGY</i></h1>
        <div class="text col-lg-12 col-md-12 col-sm-8">
            
        
            <p class="m-5">
            The Master of Science in Applied Psychology is a professional course designed to provide 
            students with a general awareness of the use of Psychological Principles and theories to 
            overcome problems in the areas such as mental health, business management, education, health,
             product design, ergonomics and law. Applied Psychology includes the areas of Clinical Psychology,
              Occupational Health Psychology, Industrial and Organizational Psychology, Human Factors, 
              Engineering Psychology, Forensic Psychology, School Psychology, Educational Psychology, 
              Sports Psychology, Community Psychology, Political Psychology, Positive Psychology, 
              Research Psychology etc. Any candidate who successfully completes MSc Applied Psychology 
              is eligible to work as professionals and researchers in all these fields.
            </p>
            
            <p class="m-5"><b style="font-size:35px;">Eligibility:</b>
                Candidates who have studied BSc/BA  Psychology from a recognized 
                University and secured 50% marks in Main and Subsidiary papers are eligible for admission.
            </p>
            <p class="m-5"><b style="font-size:25px;">No.Of Seats: 25</b></p>
            
        </div>
    </div>

    {% endblock %}  
</body>
</html>