{% extends 'SWindex.html' %}
 {%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSW</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <style>
        p{
            word-spacing: 15px;
            font-size: 20px;
            color: white;
        }
        body{
            background-image: url("{% static 'Images/green.jpg' %}");
            background-repeat: no-repeat;
           
        }
        .msw{
            text-align: center;
            color: red;
            border: solid 10px skyblue;
            border-radius: 25px;
            font-size: 55px;
            width:500px;
            margin:auto;
        }
    </style>
</head>
<body>
   
     

    <div class="container-fluid">
        <div class="row">
                    <b class="msw">MSW</b>
                    <div style="font-size:30px; color: white;" class="m-5">No.of Seats:25</div>
            <p class="m-5">Master’s Degree in Social Work is offered with specialization in Community Development,
                Medical & Psychiatric Social Work, Criminology and Correctional Administration. 
                The course provides a wide range of job opportunities in Medical and Psychiatric institutions,
                Rural and Urban Development programmes, Literacy Mission, Kudumbasree, National Rural Health Mission (NRHM),
                National Urban Health Mission (NUHM), School Counselling and in various government and non government
                organizations in India and abroad.</p>

                <p  class="m-5"><b style="color: black; font-size: 45px;">Eligibility:</b>
                     A Degree from any University recognized by the University of Calicut with minimum 50% aggregate 
                    marks in Part –III Main and subsidiary and part I English. 
                    Those candidates who have only main papers require 50% marks for main only.
                </p>
               
        </div>
    </div>
    {% endblock %}  
</body>
</html>