{% extends 'SWindex.html' %}
 {%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Msw syllabus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <style>
        body{
        background-image:linear-gradient(white, skyblue);
    }
    .msw{
        text-align: center;
        color: red;
        border: solid 10px skyblue;
        border-radius: 25px;
        font-size: 55px;
        width:500px;
        margin:auto;
    }
    </style>
</head>
<body>
   
   
   
      <div class="container-fluid">
        <div class="row"> 
            <b class="msw" style="background-color:lightgray;">MSW</b>
        </div>
      </div>      
            <div class="container-fluid">
                <div class="row"> 
                            <h2>Semester 1:</h2>
                            <ol>
                                <li>
                                    History, Philosophy and Fields of Social Work
                                </li>
                                <li>
                                    Sociology and Economics for Social Work Practice
                                </li>
                                <li>
                                    Human Growth and Development
                                </li>
                                <li>
                                    Professional Skills for Social Workers
                                </li>
                                <li>
                                    Social Legislation and Human Rights
                                </li>
                                <li>
                                    Concurrent Fieldwork
                                </li>
                            </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row"> 
                            <h2>Semester 2:</h2>
                            <ol>
                                <li>
                                    Social Case work
                                </li>
                                <li>
                                    Social Group work
                                </li>
                                <li>
                                    Community organization and Social Action
                                </li>
                                <li>
                                    Psychology for Social Work
                                </li>
                                <li>
                                    Theory and Practice of Counselling
                                </li>
                                <li>
                                    Concurrent Fieldwork
                                </li>
                            </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row"> 
                            <h2>Semester 3:</h2>
                            <ol>
                                <li>
                                    Quantitative and Qualitative Methods for Social Work Research
                                </li>
                                <li>
                                    Participatory Project Planning and Training
                                </li>
                                <li>
                                    Community Health
                                </li>
                                <li>
                                    Health Care Social Work / Rural Community Development and Governance/ Family Welfare and Population Dynamics.
                                </li>
                                <li>
                                    Social Work in Mental Health Settings/ Urban Community Development and Governance/ Child Welfare
                                </li>
                                <li>
                                    Concurrent Fieldwork
                                </li>
                            </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row"> 
                            <h2>Semester 4:</h2>
                            <ol>
                                <li>
                                    Administration of Human Service Organisations
                                </li>
                                <li>
                                    Social Work with Vulnerable groups
                                </li>
                                <li>
                                    Therapeutic Approaches in Medical and Psychiatric Settings / 
                                    Environmental Studies and Disaster Management / Women’s Development
                                </li>
                                <li>
                                    Social Work Practice with Families / Social Work with Gender Issues / Youth Welfare and Development.
                                </li>
                                <li>
                                    Concurrent Fieldwork
                                </li>
                                <li>
                                    Dissertation
                                </li>
                                <li>
                                    Viva-voce (Theory)
                                </li>
                                <li>
                                    Block Field work
                                </li>
                            </ol>
                </div>
            </div>

        </div>  
    </div>         

      {% endblock %}   
</body>
</html>