{% extends 'index.html'%}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcomepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!--cdn of jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js" integrity="sha512-Gfrxsz93rxFuB7KSYlln3wFqBaXUc1jtt3dGCp+2jTb563qYvnUBM/GP2ZUtRC27STN/zUamFtVFAIsRFoT6/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><!--this 2 code for lightslider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" integrity="sha512-+1GzNJIJQ0SwHimHEEDQ0jbyQuglxEdmQmKsu8KI7QkMPAnyDrL9TAnVyLPEttcTxlnLVzaQgxv2FpLCLtli0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    <style>
    img {
        float: left;
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    li{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

.teacher{
    border:20px solid skyblue;
    border-radius:70px 0px;
    width: 200px;
    color: green;
    height:260px;
    background-color:rgb(163, 157, 157);
    font-size:35px;
    
}
body{
    background-image:url("{%static 'images/px7.jpg'%}");
    background-size: cover;
}

.just{
    background-color:rgba(0, 0, 0, 0.5); 
}

    </style>
</head>
<body onload="displaydata()">
    
   <div class="container-fluid showing">   <!--creating slider-->
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <ul id="mySlider" class="gallery">
            <li> 
              <a href="#"> <img src="{% static 'Images/college.jpg'%}"></a>
            </li>
            <li>
                <a href="#"> <img src="{% static 'Images/happy.jpg'%}"> </a>
            </li>
            <li>
                <a href="#"> <img src="{% static 'Images/group.jpg'%}"></a>
            </li>
            <li>
                <a href="#"> <img src="{% static 'Images/pic4.jpg'%}"></a>
            </li>
        </ul>
             <center><b style="font-size:50px;" id="welcome" class="just">Welcome To St Thomas College</b></center>  

    </div>
    </div> </div>   <!--end of slider-->

<div class="container-fluid showing">
    <div class="row">

        <div class="col-lg-5 col-sm-7 teacher m-5 p-5" id="viewing"></div>
            
        <div class="col-lg-5 col-sm-7 teacher m-5 p-5" id="viewing1"></div>
        
        <div class="col-lg-5 col-sm-7 teacher m-5 p-5" id="viewing2"></div>
         
        <div class="col-lg-5  col-sm-7 teacher m-5 p-5">
            <a href="about" style= "color: black;"><b>More Details</b></a>
        </div>
    </div>
</div>

<!--editing button for admin-->
{% if 'aid' in request.session %}
<button type="button" class="btn btn-success btn-lg ml-5"data-toggle="modal" data-target="#example">
    Edit Details</button>
{% endif %}<br><br>
    <!--End of editing-->

    <div class="modal fade" id="example">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form method="POST" action="upcount" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="modal-body">
                    
                        <div class="form-group">
                            <label>Students</label>
                            <input type="text" name="stud" id="stud" class="form-control" value="{{stud.student}}">
                        </div>
                        <div class="form-group">
                            <label>Courses</label>
                            <input type="text" name="crse"  id="crse" class="form-control" value=" {{stud.course}}">
                        </div>
                        <div class="form-group">
                            <label>Teachers</label>
                            <input type="text" name="tchr" id="tchr" class="form-control" value=" {{stud.teacher}}">
                        </div>
                        
                            <br>
                            <button type="button"  class="btn btn-info" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-secondary ml-5" >Save</button>
                    
                </div>   
                </form><br>
            </div>
                </div>
            </div>

<script>
    $(document).ready(function(){  //slider code..
        $('#mySlider').lightSlider({
            item: 1,
            slideMove:1,
            slideMargin:10,
            mode: "slide",
            useCSS: true,
            cssEasing: 'true',
           
     
            speed: 2000, //ms'
            auto: true,
            loop: true,
            pause: 2000,
     
            keyPress: true,
            controls: true,
           
            rtl:false,
            adaptiveHeight:false,
            pager: true,
            gallery: false,
            galleryMargin: 5,
            thumbMargin: 3,
            currentPagerPosition: 'middle',
     
            enableDrag:true,
            swipeThreshold: 40,
     
            responsive : [],
        });
    });
        </script>

    <script>   /*for displaying  counts*/
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        
        function displaydata(){
            $.ajax({
                url:'displaycount',
                type:'GET',
                success:function(response){
                    for(i=0;i<=response.mydata.length;i++){
                        $('#viewing').html('<input id="myval" value="'+response.mydata[i].cstud+'" style=Display:none><b>Students<br></b>'+response.mydata[i].cstud+'+</input>')
                        $('#viewing1').html('<input id="myval1"  value="'+response.mydata[i].csub+'" style=Display:none><b>Courses<br></b>'+response.mydata[i].csub+'</input>')
                        $('#viewing2').html('<input id="myval2" value="'+response.mydata[i].ctchr+'" style=Display:none><b>Teachers<br></b>'+response.mydata[i].ctchr+'</input>')
                        
                        $('#stud').val(document.getElementById("myval").value)
                        $('#crse').val(document.getElementById('myval1').value)
                        $('#tchr').val(document.getElementById('myval2').value)
                    }
                }
            })
        }
    </script>
    <script>
        $(document).ready (function(){
            $('.showing').mouseenter(function(){
                $('#welcome').css("color", "black").slideUp(2000).slideDown(2000);
            });
        });
    </script>
{% endblock %}
</body> 
</html>